<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <context-param>
        <param-name>ConnectionString</param-name>
        <param-value>jdbc:mysql://localhost:3306/Vaadin</param-value>
    </context-param>

    <context-param>
        <param-name>Username</param-name>
        <param-value>user</param-value>
    </context-param>

    <context-param>
        <param-name>Application_URL</param-name>
        <param-value>http://localhost:8080/login/</param-value>
    </context-param>

    <context-param>
        <param-name>SMTPHOST</param-name>
        <param-value>localhost</param-value>
    </context-param>

</web-app>
